body {
margin: 0;
font-family: Arial, sans-serif;
scroll-behavior: smooth;
line-height: 1.6;
}

nav {
position: fixed;
top: 0;
left: 0;
width: 100%;
background: white;
border-bottom: 1px solid #ddd;
padding: 10px;
text-align: center;
z-index: 1000;
}
nav a {
margin: 0 15px;
text-decoration: none;
color: #333;
font-weight: bold;
}
nav a:hover {
color: #473012;
}

header {
background: #f5f5f5;
padding: 80px 20px;
text-align: center;
}

section {
padding: 80px 20px;
max-width: 900px;
margin: auto;
border-bottom: 1px solid #eee;
}
section:nth-child(even) {
background: #f9f9f9;
}

/* Bio section with circular photo */
#about {
display: flex;
align-items: center;
gap: 20px;
flex-wrap: wrap;
}
.about-pic {
width: 150px;
height: 150px;
border-radius: 50%;
object-fit: cover;
}
.about-text {
flex: 1; 
min-width: 200px;
}

/* Skills grid */
.skills-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
gap: 20px;
justify-items: center;
align-items: center;
margin-top: 30px;
}

.skill {
  display: flex;
  flex-direction: column; /* stack items vertically */
  align-items: center;    /* center icon and text horizontally */
  gap: 10px;              /* space between icon and text */
  font-weight: bold;
}

.skill-icon {
    width: 60px;
    height: 60px;
    object-fit: contain; 
}

/* .skill-icon i:hover {
color: #007bff;
transform: scale(1.2);
transition: 0.3s;
} */

footer {
text-align: center;
padding: 30px;
color: #777;
}
